h2 {
    text-align: center;
    margin-top: 20px;
    color: dimgray;
    font-weight: 600;
    font-family: 'Baumans', cursive;
}

a {
    color: darkgreen;
    font-weight: 600;
    font-family: 'Baumans', cursive;

}

a:hover {
    color: #33aa33;
    font-weight: 600;
    text-decoration: none;
}

body {
    overflow: scroll;   
}

th {
    text-align: left;
    background-color: #efefef;
    cursor: pointer;
}

.table-header {
    font-family: 'Baumans', cursive;
}

tr.footer {
    background-color: #efefef;
}

main {
    margin-left: 12px;
    margin-right:25px;
}

.center {
    text-align: center;   
}

.delete {
    color: red; 
    cursor: pointer;
}

.navbar-custom {
    background-color:#2E8B57;
    color:#ffffff;
    opacity: 0.9;
    border-radius:0;
    border-bottom: 2px solid #33aa33;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
    font-weight: 500;
    font-size: 16px;
    margin-left: 2px;
}

.navbar-custom .navbar-nav > .active > a {
    color: #ffffff;
    background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: #33aa33;
}

.navbar-custom .navbar-brand {
    color:#eeeeee;
}
.navbar-custom .navbar-toggle {
    background-color:#eeeeee;
}
.navbar-custom .icon-bar {
    background-color:#33aa33;
}